button {
    height: 3rem;
    width: 15rem;
    border: none;
    margin: auto;
    margin-top: 2rem;

    font-family: 'Abril Fatface', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-black {
    color: var(--yellow);
    border: 1px solid var(--offBlack);
    background-color: var(--offBlack);
}

.btn-black:hover {
    color: var(--offBlack);
    background-color: var(--yellow);
    transition: all .2s ease-in-out; 
}

.btn-yellow {
    color: var(--offBlack);
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    margin-top: 4rem;
}

.btn-yellow:hover {
    color: var(--yellow);
    background-color: var(--offBlack);
    transition: all .2s ease-in-out; 
}