.contactSection {
    background-color: var(--yellow);
    display: grid;
    /* grid-template-columns: 1fr 1.5fr; */
    /* grid-auto-rows: 9rem 30rem 30rem; */
    padding-top: 9rem;
    padding-bottom: 5rem;
    padding-right: 2rem;
}

@media screen and (max-width: 768px) {
    .contactSection {
        display: grid;
        width: 100%;
        /* grid-template-columns: auto; */
        grid-auto-rows: 9rem 70rem;
    }
}

.formHolder {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

@media screen and (max-width: 768px) {
    .formHolder {
        grid-template-columns: auto;
        grid-auto-rows: 35rem 35rem;
    }
}

input, textarea {
    background-color: var(--yellow);
    border: none;
    border-bottom: 1px solid var(--offBlack);
    font-size: 1.5rem;
    color: var(--offBlack);
    font-family: 'Abril Fatface', serif;
}

form {
    display: grid;
    padding-top: 3rem; /* Input padding accounts for 1rem here */
    padding-bottom: 0.5rem;
    margin: 0 5rem 0rem 5rem; 
}

@media screen and (max-width: 768px) {
    form {
        margin: auto;
        /* width: 70%; */
    }
}

/* @media screen and (max-width: 768px) {
    form {
        margin: auto;
        width: 70%;
    }
} */

.form2 {
    margin: 6rem 4rem 6rem 4rem;
}

.formDiv {
    margin-top: 4rem;
}

@media screen and (max-width: 768px) {
    .formDiv {
        margin: auto;
    }

    .formDiv:nth-of-type(1) { 
        order: 2; 
    }

    .formDiv:nth-of-type(2) { 
        order: 1; 
    }

    .form2 {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

.fullWidth {
    display: block;
    width: 100vw;
    height: 10%;
}