.contactForm {
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-top: 9rem;
    padding-bottom: 5rem;
    padding-right: 2rem;
}

@media screen and (max-width: 768px) {
    .contactForm {
        display: grid;
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
    .formDiv:nth-of-type(1) { order: 2; }
    .formDiv:nth-of-type(2) { order: 1; }
}

input, textarea {
    background-color: var(--yellow);
    border: none;
    border-bottom: 1px solid var(--offBlack);
    font-size: 1.5rem;
    color: var(--offBlack);
    font-family: 'Abril Fatface', serif;
}

form {
    display: grid;
    padding-top: 3rem; /* Input padding accounts for 1rem here */
    padding-bottom: 0.5rem;
    margin: 0 5rem 0rem 5rem; 
}

@media screen and (max-width: 768px) {
    form {
        margin: auto;
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    form {
        margin: auto;
        width: 70%;
    }
}

.form2 {
    margin-left: 4rem;
    margin-top: 6rem;
}

@media screen and (max-width: 768px) {
    .formDiv {
        margin: auto;
    }

    .form2 {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}