.contactForm {
    background-color: var(--yellow);
    height: 50rem;
}

input, textarea {
    background-color: var(--yellow);
    border: none;
    border-bottom: 1px solid var(--offBlack);
    font-size: 1.5rem;
    color: var(--offBlack);
    font-family: 'Abril Fatface', serif;
}

form {
    display: grid;
    width: 30%;
    padding-top: 3rem; /* Input padding accounts for 1rem here */
    padding-bottom: 0.5rem;
    margin: 0 5rem 5rem 5rem; 
}